@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sky{
    width: 110%;
    position: absolute;
}

.skytwo{
    position: absolute;
    top: 150px
}

body{
    background-color: rgb(21, 14, 94);
}

.earth{
    width: 100%;
    height: auto;
    position: absolute;
}

.triangle{
    width: 30%;
    position: absolute;
    top: 25%;
    left: 500px;
}

.happy {
    position: absolute;
    width: 25%;
    padding: 50px;
    top: 10px;
}

.sad{
    position: absolute;
    width: 26%;
    padding: 50px;
    top: 10px;
}

.bottles{
    width: 20%;
    position: absolute;
    right: 50px;
    top: 150px
}

.recycles{
    width: 30%;
    position: absolute;
    left: 930px;
    top: 60px
}

h1{
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-size: 50px;
    position: absolute;
}

.reduce{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  position: absolute;
    top: 120px;
    left: 45%;
}
    
.recycle{
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    top: 70%;
    left: 25%;
}

.reuse{
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    top: 70%;
    left: 64%;
}

.rs{
    width: 50%;
    position: absolute;
    left: 350px;
    top: 90px;
}

h2{
    font-family: "Josefin Sans", sans-serif;
    color: white;
    background-color: rgb(11, 88, 25);
    height: 50px;
    font-size: 37px;
    position: absolute;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    top: 50%;
    left: 37%;
}

h3{
    color: rgb(0, 27, 180);
    position: absolute;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 100;
        font-style: italic; 
        font-size: 27px;
        padding: 50px;
        margin-left: 80px;
        margin-right: 80px;
    top: 600px;
}


.animate-img{
    animation: scaleImg 2s;
}

@keyframes scaleImg{
    0%{
        width: 300px;
        height: 300px;
    }
    50%{
        width:500px;
        height: 500px;
    }
    100%{
        width:300px;
        height: 300px;
    }
}



